In [3]:


import numpy as np
import pandas as pd

In [2]:
def create_user_movie_df():
    movie = pd.read_csv('movie.csv')
#     rating = pd.read_csv('rating.csv')
    df = movie.merge(rating, how="left", on="movieId")
    comment_counts = pd.DataFrame(df["title"].value_counts())
    rare_movies = comment_counts[comment_counts["title"] <= 1000].index
    common_movies = df[~df["title"].isin(rare_movies)]
    user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")
    return user_movie_df

In [3]:
movie = pd.read_csv('movie.csv')

In [4]:
rating = pd.read_csv('rating.csv')

In [5]:
rating2=rating

In [6]:
n=len(rating)
rating=rating[:n//5]

In [7]:
df = movie.merge(rating, how="left", on="movieId")

In [8]:
comment_counts = pd.DataFrame(df["title"].value_counts())

In [9]:
rare_movies = comment_counts[comment_counts["title"] <= 1000].index

In [10]:
common_movies = df[~df["title"].isin(rare_movies)]

In [11]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

In [12]:
user_movie_df.shape

(27217, 1007)

In [14]:
user_movie_df.to_csv("model1_small.csv")

In [15]:
temp=pd.read_csv("model1_small.csv")

In [13]:
len(user_movie_df.columns)

1007

In [34]:
user_movie_df.columns

Index(['10 Things I Hate About You (1999)', '12 Angry Men (1957)',
       '2001: A Space Odyssey (1968)', '28 Days Later (2002)', '300 (2007)',
       '40-Year-Old Virgin, The (2005)', 'A.I. Artificial Intelligence (2001)',
       'About a Boy (2002)', 'Abyss, The (1989)',
       'Ace Ventura: Pet Detective (1994)',
       ...
       'William Shakespeare's Romeo + Juliet (1996)', 'Willow (1988)',
       'Willy Wonka & the Chocolate Factory (1971)', 'Witness (1985)',
       'Wizard of Oz, The (1939)', 'X-Files: Fight the Future, The (1998)',
       'X-Men (2000)', 'X2: X-Men United (2003)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)'],
      dtype='object', name='title', length=526)

In [34]:
item_based_recommender("Sherlock Holmes (2009)", user_movie_df)

title
Sherlock Holmes: A Game of Shadows (2011)             0.702582
Kolya (Kolja) (1996)                                  0.520964
Mrs. Brown (a.k.a. Her Majesty, Mrs. Brown) (1997)    0.507815
Up Close and Personal (1996)                          0.488453
Drop Zone (1994)                                      0.485581
With Honors (1994)                                    0.483806
Iron Man 2 (2010)                                     0.463029
Substitute, The (1996)                                0.440395
Aladdin and the King of Thieves (1996)                0.434272
Iron Man (2008)                                       0.433599
dtype: float64

In [8]:
def item_based_recommender(movie_name, user_movie_df):
    #Returns the dataset containing the top 10 movies
    movie_name = user_movie_df[movie_name]
    return user_movie_df.corrwith(movie_name).sort_values(ascending=False)[1:11]

In [21]:
item_based_recommender("13th Warrior, The (1999)", user_movie_df)

title
Shadow, The (1994)                      0.416159
Juror, The (1996)                       0.411716
Black Sheep (1996)                      0.409148
Van Helsing (2004)                      0.392900
Ghost and the Darkness, The (1996)      0.391061
Underworld (2003)                       0.387509
Sphere (1998)                           0.385762
Robin Hood: Prince of Thieves (1991)    0.382782
Chronicles of Riddick, The (2004)       0.380236
End of Days (1999)                      0.378753
dtype: float64

In [8]:
user_movie_df.to_csv("model1.csv")

In [4]:
result= pd.read_csv("model1_small.csv")

In [6]:
result.head()

,userId,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),"13th Warrior, The (1999)","20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),21 Grams (2003),...,X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Young Guns (1988),Zombieland (2009),Zoolander (2001),eXistenZ (1999),Â¡Three Amigos! (1986)
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,NaN,4.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

NameError: name 'user_movie_df' is not defined